.menuBar {
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
}

.menuBar-childContainer {
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
}
